@font-face {
    font-family: "Segoe UI Static Display Semibold";
    src: url(suisdsm.ttf);
}

h1{
    font-family: "Segoe UI Static Display Semibold";
    color: black;
    font-size: 150px;
    text-align: center;
}

h3 {
    font-family: "Segoe UI Static Display Semibold";
}

h2 {
    font-family: "Segoe UI Static Display Semibold";
}


body {
    background-color: rgb(222, 239, 254);
}

td {
    font-family: "Segoe UI Static Display Semibold";
}

p{
    font-family: "Segoe UI Static Display Semibold";
    font-size: 50px;
}

.filler {
    color: aliceblue;
}

.container {
    padding:5px 30px 30px 30px;
    margin:30px;
    border:solid palevioletred 5px;
    border-radius:30px;
    /*background-color:#e6e6e6;*/
    text-align:center;
  }
  
  .btn-success, .btn-danger {
    width:200px;
  }